$primaryColor: #FFC600;
$secondaryColor: #ffd133;
$triColor: #8736AA;

$primaryMessangerBlue: #00B8FF;
$secondaryMessangerBlue: #0039FF;
$triMessangerBlue: #4600FF;

@media only screen and (max-width: 768px) {

  .horizontal-navBar, .sideBarNav {
    visibility:hidden;
  }
}

.horizontal-navBar {

  //border-right:2px solid black;
  width: 13.2rem;
  position: fixed;
  top: -0.8rem;
  background: $primaryColor;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 6.4rem;
  //text-shadow: 5px 5px 0 rgb(0 0 0 / 5%);
  text-decoration: none;
  z-index:5;
  display: flex;
  //justify-content: space-between;

  .logo-prefix{

    font-size: 2.2rem;
    font-family: GothicCastle;
    transform: rotate(-8deg);
    text-decoration: none;
    color: #8736AA;
    text-shadow: 2px 2px black,
    2px 2px black,
    2px 2px black,
    2px 2px black;
    transition: all .3s ease-in-out;
  }
  .logo-prefix:hover{
    transform:scale(1.5);
  }
  .logo-prefix::before {
    position: absolute;
    top: -0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    z-index: -1;
    height: 300%;
    font-size: 3.2rem;
    font-family: GothicSchool;
    color: #00B8FF;
    opacity: 0.6;
    background-image: linear-gradient(-180deg,
    #00B8FF,
    rgba(31,104,254,255),
    rgba(65,79,254,255) ,
    rgba(76,73,252,255) ,
    rgba(86,63,255,255),
    rgba(108,55,255,255),
    #8736AA);
    text-shadow: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "JS";
  }

}


/* Fixed sidenav, full height */
.sideBarNav {
  transform: skew(-2deg);
    height: 100%;
    width: 13.2rem;
    position: fixed;
    z-index: 1;
    top: 2rem;
    background-color: $primaryColor;
    overflow-x: hidden;
    padding-top: 2.5rem;
    left: -2rem;
    padding-left: 3rem;
    a{
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 12px;
      color: black;
      //display: block;
      border: none;
      background: none;
      width: 100%;
      //text-align: left;
      cursor: pointer;
      outline: none;
      transition: all .1s ease-out;
      &:hover{
        cursor: pointer;
        color: black;
        border-left: 4px solid $triColor;
      }
    }

    .sideBarLabelNested{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(135deg, #9470CE 10%, $triColor 50%, $secondaryColor 50%);
      background-repeat: repeat-y;
      background-size: 300% 300%;
      background-position: right  bottom;
      transition: all .3s ease-out;
      padding-left: 2rem;
      padding-top:0.5rem;
      padding-bottom:0.5rem;

      &:hover{
        //padding-left: -2rem;
        color: white;
        text-shadow:
            1px 1px 0 #000;
        cursor: pointer;
        background-position: left bottom;
        border-left: 0px;
        position: relative;
      }
    }
}

.sideBarLink {
  margin-left: 16px;
}

.sideBarLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

